@import url('https://fonts.googleapis.com/css2?family=Atkinson+Hyperlegible+Next:ital,wght@0,200..800;1,200..800&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Libre Franklin", serif;
}

body {
    display: flex;
    
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    padding: 20px;
}

.card-container {
    display: flex;
    flex-direction: column;
    
    align-items: center;
    background-color: beige;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card-img {
    width: 100%;
    display: flex;
    justify-content: center;
}

.card-img img {
    width: 100%;
    max-width: 250px;
    height: auto;
    border-radius: 10px;
}

.card-content {
   
    margin-top: 10px;
}

.card-content h2 {
    font-size: 22px;
    margin-bottom: 5px;
    text-align: center;
}

.card-content p {
    font-size: 14px;
    color: #000000;
    font-weight:500;
}
span{
    color:#555;
    margin:3px;
    font-weight: initial;
}
.text-container{
    padding:10px;
    white-space:pre-line;
}